

.fab {
    /* position: fixed; uncomment this when using in your project */
    /* bottom: 20px;
    right: 20px; */
    width: 56px;
    height: 56px;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .fab:hover {
    background-color: #2980b9;
    transform: scale(1.1);
  }
  