.underline {
    text-decoration: underline;
  }
  
  .strike {
    text-decoration: line-through;
  }
  
  .primary {
    color: blue;
  }
  
  .secondary {
    color: gray;
  }
  
  .primary.bold {
    font-weight: bold;
  }
  