:root{
    --primary-color: #007bff;
    --secondary-color: #6610f2 ;
    --tertiary-color: #6f42c1;
    --fourth-color: #e83e8c;
    --tutor-color-primary: #3e64de;
    
    --tutor-color-primary-hover: #395bca;
  
  }
  
  

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body{
font-family: 'Rajdhani', sans-serif;  
}



.App {
  text-align: center;
  /* height: 100vh; */
  padding-bottom: 100px;
 
}



.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    
  }
  
  .link-primary {
  
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    
    border-radius: 2rem;
    text-decoration: none;
    
  }
  .link-secondary {
   
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
   
  }

  
.list-item-inline{
    display: inline;
    padding: 0.25rem;
  }